.containerCategories {
  background-color: #ffffff !important;
  box-shadow: none !important;
}
.toolbar {
  justify-content: center !important;
}
.containerButtons {
  display: flex !important;
  gap: 4px !important;
}
.buttons {
  color: black !important;
  font-size: 1rem !important;
  font-weight: bold !important;
  transition: text-decoration 1s ease !important;
  margin: 0.4rem 2rem  !important;
}
.buttons:hover {
  text-decoration: underline !important;
}
